<div>
    <div class="name">Impresa (small_size)</div>
    <div class="size">
        <div class="diametr">
            <span class="glyphicon glyphicon-ban-circle iconSmall" aria-hidden="true"></span>30
        </div>
        <div class="weight">
            <span class="glyphicon glyphicon-modal-window iconSmall">500</span>
        </div>
    </div>
    <div class="correct_pizza">
        <div class="price">1 UAH</div>
        <div class="minus">
            <button>-</button>
        </div>
        <div class="count">2</div>
        <div class="plus">
            <button>+</button>

        </div>
        <div class="delete">
            <button>x</button>

        </div>
    </div>
</div>